*.gem
*.sublime-project
*.sublime-workspace

app/assets/ckeditor/_source/*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Mac crap
.DS_Store
