<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= data.resource["title"] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<link href='<%= data.stylesheets["base"] %>' type='text/css' rel='stylesheet'/>

	<script src="scripts/jquery-1.8.2.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="scripts/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8933957-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>

  <body onload="prettyPrint()">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/s3cms/">s3cms</a>
          <div class="nav-collapse">
            <ul class="nav">
			<%
				@page = data.page
				@page = "/" if @page == "index.html"
				def isActive(href)
					if @page == href
						return "active"
					else
						return ""
					end
				end
			
				require 'nokogiri'
				xml_doc  = Nokogiri::XML(File.read(File.join(data.sitedir, "_templates", "menu.xml")))
				xml_doc.xpath('/menu/page').each do |link|
			%>
				<li><a href='<%= link.attr("href") %>' class='<%=isActive(link.attr("href"))%> <%= link.attr("class") %>'>
					<%= link.content %>
				</a></li>	
			<% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
	  <header id="overview" class="jumbotron subhead">
			<%= data.views["intro"] %>
	  </header>

      <!-- Example row of columns -->
      <div class="row">
        <%= data.views["main"] %>
      </div>

      <hr>

      <footer>
		<p id="view-theme-vars"><a class="btn" href="#">View theme variables</a></p>
		<div style="diplay: none;" id="theme-vars">
			<p>Page: <%= data.page %></p>
			<p>Sitedir: <%= data.sitedir %></p>
			
			<p>Scripts: <%= data.scripts %></p>
			<p>Stylesheets: <%= data.stylesheets %></p>
			<p>Config: <%= data.config %></p>
			
			
			<p>Resource: <%= data.resource %></p>
			<p>Views: (access like this: data.views["viewname"])</p>
		</div>
		<script>
			$(function(){
				$("#theme-vars").hide();
				$("#view-theme-vars").click(function(e){
                    e.preventDefault();
					$("#theme-vars").toggle();
				});
			});
		</script>
		
			
        <p>&copy; Courtenay Probert <%= Time.now.strftime("%Y") %></p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
	<script src='<%= data.scripts["libraries-min"] %>'></script>
	<script src='<%= data.scripts["base"] %>'></script>
    <%= data.monkeyhook %>
  </body>
</html>
