<div class="hero-unit">
	<h1>What exactly is<br />
		Air-Monkey?</h1>
	<p style="margin-top: 25px;">Air-Monkey is an easy to use point and click interface (WYSIWYG GUI) for s3cms.</p>
	<p>With a few clicks you can edit text and publish your website, without any technical knowledge.</p>
</div>
