<div class="span12">
<div class="alert alert-error">
	<h4>First things first!</h4>
    <ol style="margin-top: 10px;">
    <li><a href="prerequisites.html">Check the prerequisite</a></li>
	<li><a href="https://rawgithub.com/iPassExam/Air-Monkey/master/html/download.html">Download</a> the latest version of Air-Monkey.</li>
    </ol>
</div>
