<div class="hero-unit">
    <img src="images/airmonkey-logo.png" class="img-polaroid pull-right" style="margin-bottom: 25px;"/>
	<h1>What exactly is<br />
		Air-Monkey?</h1>
	<p style="margin-top: 25px;">Air-Monkey is an easy to use point and click interface (WYSIWYG GUI) for s3cms.</p>
	<p>With a few clicks you can edit text and publish your website, without any technical knowledge.</p>
    
    <div style="margin-top: 50px;"><a href="https://rawgithub.com/iPassExam/Air-Monkey/master/html/download.html" class="btn btn-success btn-large">Grab a copy</a></div>
</div>
