<div class="span12">
<div class="alert alert-error">
	<h4>
		First things first!</h4>
	<p style="margin-top: 10px;">
		<a href="https://dl.dropboxusercontent.com/u/4407314/AirMonkey/index.html">Download</a> the latest version of Air-Monkey.</p>
	<p>
		<a href="prerequisites.html">Check</a> the prerequisite</p>
</div>
