<div class="span12">
    <div>
        <p>In this video I demonstrate how to import an existing Static-CMS website into Air-Monkey.</p>
        <div id="media-import"><img src="images/ajax-loader.gif" /></div>
    </div>
</div>

<script type="text/javascript" src="scripts/swfobject.js"></script>
<script type="text/javascript">
// <![CDATA[	
    var soImport = new SWFObject( "videos/importing/Import_Website_into_Air-Monkey.swf", "csSWF", "640", "498", "9.0.28", "#ffffff");
    soImport.addParam( "quality", "best" );
    soImport.addParam( "allowFullScreen", "true" );
    soImport.addParam( "scale", "showall" );
    soImport.addParam( "allowScriptAccess", "always" );
    soImport.addVariable( "autostart", "false" );
    soImport.write("media-import");	           
// ]]>
</script>