<h2>Ruby 1.9.2</h2>
<p>Static-CMS depends on Ruby 1.92.</p>
<p>To check if your system already has ruby installed, type the following on the command prompt:</p>

<div class="code">
	<pre class="prettyprint"><code class="language-bsh">
    	ruby -v
	</code></pre>
</div>

<p>If all went well, ruby will output the version to the console. If ruby is not installed you will receive the error &quot;ruby is not recognized as an internal or external command&quot;. So go ahead and install ruby.</p>

<p>Windows users can get it from <a href="http://rubyinstaller.org/" target="_blank">http://rubyinstaller.org/</a> (check options to add ruby to your path and associate .rb files)</p>

<h2>Abobe Air</h2>

<p>If your using the <a href="http://ipassexam.github.io/Air-Monkey/">Air-Monkey GUI</a>, your&#39;re going to need to <a href="http://get.adobe.com/air/" target="_blank">install Adobe Air</a>.</p>

