<div class="span12">
    <div>
        <p>In this video I demonstrate how to publish you Static-CMS website to Amazon S3 using Air-Monkey.</p>
        <div id="media-deploy"><img src="images/ajax-loader.gif" /></div>
    </div>
</div>

<script type="text/javascript" src="scripts/swfobject.js"></script>
<script type="text/javascript">
// <![CDATA[	
    var soDeploy = new SWFObject( "videos/publishing/Publish_Website_with_Air-Monkey.swf", "csSWF", "640", "498", "9.0.28", "#ffffff");
    soDeploy.addParam( "quality", "best" );
    soDeploy.addParam( "allowFullScreen", "true" );
    soDeploy.addParam( "scale", "showall" );
    soDeploy.addParam( "allowScriptAccess", "always" );
    soDeploy.addVariable( "autostart", "false" );
    soDeploy.write("media-deploy");	            
// ]]>
</script>